h2 {font-size: 40px;}
p {font-size: 16px;}
section {overflow: hidden;}
button > img {margin: 13px;}
button:focus {outline: none}
.btn-default:focus {outline: none}





.surprise {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background: #f3787a;
    opacity: 0.9;
}

.surprise__control {
    display: none;
}

.surprise__close {
    float: right;
    margin: 35px 3px 0 0;
    font-size: 37px;
    color: #ffffff;
    cursor: pointer;
}

.surprise__control_open:checked + .surprise {
    display: block;
}

.surprise__menu  {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 40%;
}

.surprise__menu .surprise__menu-item {
    margin: 0 0 14px 0;
    background-position: left;
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 400;
    line-height: 51px;
    list-style-type: none;
}

.surprise__menu .surprise__menu-item:hover {
    opacity: 0.5;
}

.surprise__menu .home-icon {
    background-image: url(../images/s-home.png);
}

.surprise__menu .about-icon {
    background-image: url(../images/s-about.png);
}

.surprise__menu .portfolio-icon {
    background-image: url(../images/s-portfolio.png);
}

.surprise__menu .contact-icon {
    background-image: url(../images/s-contact.png);
}

.surprise__menu .surprise__menu-item a {
    display: block;
    color: #fff;
    padding: 0 0 0 69px;
    text-decoration: none;
}





.header__menu {
    background-color: #63c2e7;
    border: none;
}

.header__menu .header__menu_logo {
    height: auto;
    padding: 0;
}

.header__menu .surprise__link {
    float: right;
    margin-top: 43px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}







.first {
    position: relative;
    background-color: #63c2e7;
    padding-top: 70px;
}

.meet-perth {
    text-align: right;
}

.meet-perth > h1 {
    margin-top: 60px;
    margin-bottom: 48px;
    color: #ffffff;
    font-size: 70px;
    font-weight: bold;
}

.meet-perth > p {
    margin-bottom: 49px;
    color: #ffffff;
    font-size: 35px;
}

.first button {
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 175px;
    color: #ffffff;
    background-color: #64c3e7;
    font-size: 15px;
    text-transform: uppercase;
}

.first span {
    position: absolute;
    bottom: -265px;
    left: 230px;
}





.second {
    position: relative;
    background-color: #f4f4f4;
}

.second .about {
    margin-top: 130px;
    margin-bottom: 140px;
}

.second .about > h2 {
    margin-bottom: 35px;
}

.second .about > p {
    max-width: 571px;
    margin-bottom: 30px;
}

.second .about a:before {
    position: absolute;

    width: 6px;
    height: 68px;

    background-color: #4eacdd;

    -webkit-transform: translateX(-50%);
    /*-moz-transform: translateX(-50%);*/
    -ms-transform: translateX(-50%);
    /*-o-transform: translateX(-50%);*/
    transform: translateX(-50%);

    content: '';
}

.second .about .blue {
    padding-left: 25px;
    margin-bottom: 70px;
    font-style: italic;
}

.second .about button {
    border: 1px solid #14af8f;
    border-radius: 4px;
    color: #14af8f;
    background-color: #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}

.second .about span {
    position: absolute;
    right: -50px;
    top: 160px;
   }

.second .about span img {
    max-width: 100%;
}





.third {
    position: relative;
    background-color: #ffffff;
}

.third .portfolio {
    margin-top: 85px;
}

.third h2 {
    padding-left: 710px;
    margin-bottom: 40px;
}

.third p {
    padding-left: 707px;
    margin-bottom: 40px;
}

.portfolio :nth-child(2) {
    font-weight: bold;
    font-style: italic;
}

.portfolio :nth-child(3) {
    margin-bottom: 60px;
}

.third button {
    border: 1px solid #ea4c89;
    border-radius: 4px;
    margin-left: 707px;
    margin-bottom: 240px;
    color: #ea4c89;
    background-color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.third span {
    position: absolute;
    bottom: -55px;
    left: -25px;
}

.third span > img {
    max-width: 100%;
}




.fourth {
    position: relative;
    background-color: #0fad8c;
    text-align: center;
}

.donate {
    margin-top: 80px;
    margin-bottom: 100px;
}

.donate h2 {
    margin-bottom: 30px;
}

.fourth button {
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    background-color: transparent;
    font-size: 15px;
    text-transform: uppercase;
}




.fifth {
    text-align: center;
    background-color: #f4f4f4;
}

.fifth .contact {
    position: relative;
    padding-top: 240px;
    padding-bottom: 240px;
    font-style: italic;
}

.fifth .social-icons {
    padding: 0;
}

.fifth .social-icons > li {
    display: inline-block;
    border: 3px solid #545454;
    border-radius: 50%;
    margin: 0 20px 60px 20px;
}

.dribbble:hover {
    background: #ea4c89;
}

.facebook:hover {
    background: #39569c;
}

.twitter:hover {
    background: #00acee;
}

.mail:hover {
    background: #0088cc;
}

.input > span {
    font-size: 16px;
    font-weight: bold;
}

.contact__label {
    position: relative;
}

.contact__label:after {
    position: absolute;
    top: 50%;
    right: 47px;
    width: 2px;
    height: 15px;
    background-color: #e2e2e2;

    -webkit-transform: translateY(-50%);
    /*-moz-transform: translateY(-50%);*/
    -ms-transform: translateY(-50%);
    /*-o-transform: translateY(-50%);*/
    transform: translateY(-50%);

    content: "";
}

.contact__input {
    margin-left: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    /*background-color: #fff;*/
    /*background-position: 92% 50%;*/
    /*background-image: url("../images/mail-icon-2.png");*/
    /*background-repeat: no-repeat;*/
    background: #fff url("../images/mail-icon-2.png") no-repeat 92% center;
}

.contact__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d3d3d3;
}
.contact__input::-moz-placeholder { /* Firefox 19+ */
    color: #d3d3d3;
}
.contact__input:-ms-input-placeholder { /* IE 10+ */
    color: #d3d3d3;
}
.contact__input:-moz-placeholder { /* Firefox 18- */
    color: #d3d3d3;
}

.contact__input:focus {
    outline: none;
}





footer {
    text-align: center;
    background-color: #ffffff;
}

footer  p {
    padding: 50px 0 30px 0;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
}

footer p > span {
    font-style: normal;
    color: #6dc5ea;
}








/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    h2 {font-size: 20px}
    p {font-size: 14px;}

    .first span {
        bottom: -315px;
        left: 50px;
    }

    .meet-perth > h1 {
        margin-top: 45px;
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
    }

    .meet-perth > p {
        margin-bottom: 30px;
        color: #ffffff;
        font-size: 20px;
    }

    .second .about {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .second .about > h2 {
        margin-bottom: 10px;
    }

    .second .about > p {
        max-width: 410px;
        margin-bottom: 10px;
    }

    .second .about a:before {
        height: 80px;
    }

    .second .about span {
        right: -100px;
        top: 200px;
    }

    .third .portfolio {
        margin-top: 0;
    }

    .third h2,
    .third p,
    .portfolio :nth-child(3) {
        padding-left: 0;
        margin-bottom: 10px;
    }

    .third button {
         margin-left: 0;
         margin-bottom: 150px;
     }

    .third span {
        left: 225px;
        bottom: -60px;
    }

    .third span > img {
        width: 70%;
    }

    .fifth .contact {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .fifth  .social-icons {
         padding: 0;
     }

    .fifth  .social-icons > li {
        margin: 0 10px 40px 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

    .surprise__menu {
        top: 130px;
        left: 0;
    }

    .second .about .blue {
        font-size: 12px;
    }

    .second .about a:before {
        height: 55px;
    }

    .third span {
        bottom: -25px;
        left: 150px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .first span {
        left: 15px;
    }

    .second .about > p {
        max-width: 310px;
    }

    .second .about {
        padding-bottom: 150px;
    }

    .second .about .blue {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .second .about span {
        right: -150px;
        top: 300px;
    }

    .third button {
        margin-bottom: 75px;
    }

    .third span {
        bottom: -15px;
        left: 190px;
    }

    .third span img {

        width: 100%;
    }

    .fifth .social-icons > li {
        margin: 0 30px 40px 30px;
    }

    .contact .contact__input {
        margin: 0;
    }
}